 /*
#FF6461 red
#37CDFF blue
#BDA6FF purple
#6ee9ab green
*/
/*
	-------
	GALAXY/TYPOGRPAHY
	_______
	Customize the settings in _settings.scss
*/
body {
  outline: 0;
  margin: 0;
  text-rendering: optimizelegibility;
  line-height: 1.7em;
  color: rgba(0, 0, 0, 0.9);
  transition-duration: .3s;
  min-height: 100vh;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  display: block;
  text-rendering: optimizeLegibility;
  line-height: 1.4; }

p, ul, ol {
  font-weight: 300; }

strong, b {
  font-weight: 400; }

h1 {
  line-height: 1.3em;
  font-size: 2.26667em;
  font-weight: 300; }

h2 {
  line-height: 1.3em;
  font-size: 1.93333em;
  font-weight: 300; }

h3 {
  line-height: 1.3em;
  font-size: 1.6em;
  font-weight: 300; }

h4 {
  line-height: 1.3em;
  font-size: 1.26667em;
  font-weight: 300; }

h5 {
  line-height: 1.3em;
  font-size: 0.93333em;
  font-weight: 300; }

h6 {
  line-height: 1.3em;
  font-size: 0.6em;
  font-weight: 300; }

blockquote {
  border-left: #3592dd 5px solid;
  padding-left: 1em; }

a {
  color: #3592dd;
  cursor: pointer;
  opacity: 1;
  text-decoration: none;
  padding: 0; }
  a:hover {
    color: #61aae4; }

code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-weight: 500;
  color: #111;
  font-size: 15px;
  border-radius: 2px; }

pre {
  display: block;
  box-sizing: border-box;
  white-space: pre;
  word-wrap: normal;
  border: rgba(238, 238, 238, 0.8) 3px solid; }

[g~="bold"] {
  font-weight: bold; }

[g~="italic"] {
  font-style: italic; }

blockquote {
  margin-left: 0; }

/* --- BASE */
*:focus, *:active {
  outline: none; }

i:after {
  content: "\00a0";
  /* Spacing around font-awesome and the such */ }

hr {
  margin: 1em auto 0;
  border: 0;
  border-top: 1px solid #d4d4d4; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: 700; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

img, video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0;
  width: 100%; }

code {
  padding: 3px;
  border-radius: 3px; }

[g~="primary"] {
  border-color: #2078bf;
  background: #3592dd;
  color: white; }

[g~="success"] {
  border-color: #b2c022;
  background: #CDDC39;
  color: white; }

[g~="warning"] {
  border-color: #cc7a00;
  background: #FF9800;
  color: white; }

[g~="danger"] {
  border-color: #ea1c0d;
  background: #F44336;
  color: white; }

ul {
  padding: 0; }

menu {
  -webkit-padding-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

@viewport {
  zoom: 1.0;
  width: device-width; }
* {
  box-sizing: border-box; }

section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative; }
  section [g~="centered"] {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }

[g~="column"], [g~="content"] {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

[g~="block"], [g~="row"] {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-spacing: space-around; }

[g~="inline"] {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  justify-spacing: space-around; }

[g~="1"], [g~="2"], [g~="3"], [g~="4"], [g~="5"], [g~="6"], [g~="7"], [g~="8"], [g~="9"], [g~="10"], [g~="11"], [g~="12"] {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }

[g~="0"] {
  width: 0%; }

[g~="1"] {
  width: 8.33333%; }

[g~="2"] {
  width: 16.66667%; }

[g~="3"] {
  width: 25%; }

[g~="4"] {
  width: 33.33333%; }

[g~="5"] {
  width: 41.66667%; }

[g~="6"] {
  width: 50%; }

[g~="7"] {
  width: 58.33333%; }

[g~="8"] {
  width: 66.66667%; }

[g~="9"] {
  width: 75%; }

[g~="10"] {
  width: 83.33333%; }

[g~="11"] {
  width: 91.66667%; }

[g~="12"] {
  width: 100%; }

[g~="offset-0"] {
  margin-left: 0%; }

[g~="offset-1"] {
  margin-left: 8.33333%; }

[g~="offset-2"] {
  margin-left: 16.66667%; }

[g~="offset-3"] {
  margin-left: 25%; }

[g~="offset-4"] {
  margin-left: 33.33333%; }

[g~="offset-5"] {
  margin-left: 41.66667%; }

[g~="offset-6"] {
  margin-left: 50%; }

[g~="offset-7"] {
  margin-left: 58.33333%; }

[g~="offset-8"] {
  margin-left: 66.66667%; }

[g~="offset-9"] {
  margin-left: 75%; }

[g~="offset-10"] {
  margin-left: 83.33333%; }

[g~="offset-11"] {
  margin-left: 91.66667%; }

[g~="offset-12"] {
  margin-left: 100%; }

[g~="xsm-container"] {
  max-width: 259px; }

[g~="sm-container"] {
  max-width: 448px; }

[g~="md-container"] {
  max-width: 767px; }

[g~="lg-container"] {
  max-width: 970px; }

[g~="xlg-container"] {
  max-width: 1440px; }

[g~="top"] {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

[g~="right"], [g~="end"] {
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: end; }

[g~="bottom"] {
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

[g~="left"], [g~="start"] {
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: start; }

[g~="centered"] {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto; }
  [g~="centered"]:not(section) {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; }

[g~="middle"] {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

[g~="around"] {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

[g~="between"] {
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

[g~="first"] {
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1; }

[g~="last"] {
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1; }

@media screen and (max-width: 259px) {
  [g~="xsm-0"] {
    width: 0%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 259px) {
  [g~="xsm-1"] {
    width: 8.33333%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 259px) {
  [g~="xsm-2"] {
    width: 16.66667%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 259px) {
  [g~="xsm-3"] {
    width: 25%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 259px) {
  [g~="xsm-4"] {
    width: 33.33333%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 259px) {
  [g~="xsm-5"] {
    width: 41.66667%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 259px) {
  [g~="xsm-6"] {
    width: 50%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 259px) {
  [g~="xsm-7"] {
    width: 58.33333%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 259px) {
  [g~="xsm-8"] {
    width: 66.66667%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 259px) {
  [g~="xsm-9"] {
    width: 75%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 259px) {
  [g~="xsm-10"] {
    width: 83.33333%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 259px) {
  [g~="xsm-11"] {
    width: 91.66667%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 259px) {
  [g~="xsm-12"] {
    width: 100%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 448px) {
  [g~="sm-0"] {
    width: 0%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 448px) {
  [g~="sm-1"] {
    width: 8.33333%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 448px) {
  [g~="sm-2"] {
    width: 16.66667%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 448px) {
  [g~="sm-3"] {
    width: 25%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 448px) {
  [g~="sm-4"] {
    width: 33.33333%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 448px) {
  [g~="sm-5"] {
    width: 41.66667%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 448px) {
  [g~="sm-6"] {
    width: 50%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 448px) {
  [g~="sm-7"] {
    width: 58.33333%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 448px) {
  [g~="sm-8"] {
    width: 66.66667%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 448px) {
  [g~="sm-9"] {
    width: 75%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 448px) {
  [g~="sm-10"] {
    width: 83.33333%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 448px) {
  [g~="sm-11"] {
    width: 91.66667%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 448px) {
  [g~="sm-12"] {
    width: 100%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 767px) {
  [g~="md-0"] {
    width: 0%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 767px) {
  [g~="md-1"] {
    width: 8.33333%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 767px) {
  [g~="md-2"] {
    width: 16.66667%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 767px) {
  [g~="md-3"] {
    width: 25%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 767px) {
  [g~="md-4"] {
    width: 33.33333%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 767px) {
  [g~="md-5"] {
    width: 41.66667%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 767px) {
  [g~="md-6"] {
    width: 50%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 767px) {
  [g~="md-7"] {
    width: 58.33333%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 767px) {
  [g~="md-8"] {
    width: 66.66667%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 767px) {
  [g~="md-9"] {
    width: 75%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 767px) {
  [g~="md-10"] {
    width: 83.33333%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 767px) {
  [g~="md-11"] {
    width: 91.66667%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 767px) {
  [g~="md-12"] {
    width: 100%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 970px) {
  [g~="lg-0"] {
    width: 0%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 970px) {
  [g~="lg-1"] {
    width: 8.33333%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 970px) {
  [g~="lg-2"] {
    width: 16.66667%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 970px) {
  [g~="lg-3"] {
    width: 25%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 970px) {
  [g~="lg-4"] {
    width: 33.33333%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 970px) {
  [g~="lg-5"] {
    width: 41.66667%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 970px) {
  [g~="lg-6"] {
    width: 50%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 970px) {
  [g~="lg-7"] {
    width: 58.33333%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 970px) {
  [g~="lg-8"] {
    width: 66.66667%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 970px) {
  [g~="lg-9"] {
    width: 75%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 970px) {
  [g~="lg-10"] {
    width: 83.33333%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 970px) {
  [g~="lg-11"] {
    width: 91.66667%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 970px) {
  [g~="lg-12"] {
    width: 100%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 1440px) {
  [g~="xlg-0"] {
    width: 0%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 1440px) {
  [g~="xlg-1"] {
    width: 8.33333%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 1440px) {
  [g~="xlg-2"] {
    width: 16.66667%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 1440px) {
  [g~="xlg-3"] {
    width: 25%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 1440px) {
  [g~="xlg-4"] {
    width: 33.33333%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 1440px) {
  [g~="xlg-5"] {
    width: 41.66667%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 1440px) {
  [g~="xlg-6"] {
    width: 50%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 1440px) {
  [g~="xlg-7"] {
    width: 58.33333%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 1440px) {
  [g~="xlg-8"] {
    width: 66.66667%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 1440px) {
  [g~="xlg-9"] {
    width: 75%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 1440px) {
  [g~="xlg-10"] {
    width: 83.33333%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 1440px) {
  [g~="xlg-11"] {
    width: 91.66667%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
@media screen and (max-width: 1440px) {
  [g~="xlg-12"] {
    width: 100%;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; } }
/*
    -------
    GALAXY/BUTTONS
    _______
*/
button, input[type="submit"] {
  border: 0;
  background: #fff;
  color: #3592dd;
  padding: .75em 1.5em;
  font-weight: 400;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  height: auto;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 0.5px 0;
  border-radius: 0.15em; }
  button [g~="floating"], input[type="submit"] [g~="floating"] {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); }
  button:hover, input[type="submit"]:hover {
    background: #F2F2F2; }
  button:active, input[type="submit"]:active {
    background: #e5e5e5; }
  button[g~="primary"], input[type="submit"][g~="primary"] {
    border-color: #2078bf;
    background: #3592dd;
    color: white; }
    button[g~="primary"]:hover, input[type="submit"][g~="primary"]:hover {
      background: #4b9ee1; }
    button[g~="primary"]:active, button[g~="primary"].active, input[type="submit"][g~="primary"]:active, input[type="submit"][g~="primary"].active {
      background: #2078bf; }
    button[g~="primary"]:focused, input[type="submit"][g~="primary"]:focused {
      box-shadow: 0px 0px 0px 2px #a0d1fa,inset 0 0 0 0 #000; }
  button[g~="success"], input[type="submit"][g~="success"] {
    border-color: #b2c022;
    background: #CDDC39;
    color: white; }
    button[g~="success"]:hover, input[type="submit"][g~="success"]:hover {
      background: #d2e04f; }
    button[g~="success"]:active, button[g~="success"].active, input[type="submit"][g~="success"]:active, input[type="submit"][g~="success"].active {
      background: #c6d626; }
  button[g~="warning"], input[type="submit"][g~="warning"] {
    border-color: #cc7a00;
    background: #FF9800;
    color: white; }
    button[g~="warning"]:hover, input[type="submit"][g~="warning"]:hover {
      background: #ffb74d; }
    button[g~="warning"]:active, input[type="submit"][g~="warning"]:active {
      background: #cc7a00; }
  button[g~="danger"], input[type="submit"][g~="danger"] {
    border-color: #ea1c0d;
    background: #F44336;
    color: white; }
    button[g~="danger"]:hover, input[type="submit"][g~="danger"]:hover {
      background: #f8877f; }
    button[g~="danger"]:active, input[type="submit"][g~="danger"]:active {
      background: #d2190b; }
  button[g~="disabled"], input[type="submit"][g~="disabled"] {
    border: 0;
    background-image: none !important;
    background: none !important;
    opacity: .4;
    cursor: not-allowed;
    box-shadow: none; }
  button[g~="grouped"], input[type="submit"][g~="grouped"] {
    position: relative;
    vertical-align: middle; }
  button[g~="large"], input[type="submit"][g~="large"] {
    padding: 1em 2em;
    font-size: 1.2em; }
  button[g~="small"], input[type="submit"][g~="small"] {
    padding: .5em 1.5em;
    font-size: .9em; }
  button[g~="rounded"], input[type="submit"][g~="rounded"] {
    border-radius: 0.6em; }

div[g~="dropdown"] {
  position: relative; }
  div[g~="dropdown"] button + ul {
    display: none;
    left: 0;
    box-sizing: border-box;
    width: 200px;
    background: #FFF;
    color: #666;
    vertical-align: top;
    border-radius: 0.25em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0;
    position: absolute; }
    div[g~="dropdown"] button + ul li {
      padding: 0.5em 1.5em;
      cursor: pointer; }
      div[g~="dropdown"] button + ul li:hover {
        background: #eee; }
  div[g~="dropdown"] button.active + ul {
    display: block; }

/*
	-------
	GALAXY/FORMS
	_______
*/
input[type='checkbox'], input[type='radio'], input[type='date'], input[type='month'], input[type='time'], input[type='datetime'], input[type='datetime-local'], input[type='week'], input[type='number'], input[type='tel'], input[type='color'], select {
  /* Fields without text */
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }

input[type='text'], input[type='password'], input[type='email'], input[type='url'], input[type='date'], input[type='month'], input[type='time'], input[type='datetime'], input[type='datetime-local'], input[type='week'], input[type='number'], input[type='search'], input[type='tel'], input[type='color'], select, textarea {
  /* All fields */
  padding: .5em;
  font-size: 1em;
  line-height: 100%;
  position: relative;
  min-height: 2.7em;
  vertical-align: middle;
  transition: border-color .3s ease;
  text-overflow: ellipsis;
  color: #333;
  background: #fff;
  border: #eee 1px solid;
  box-sizing: border-box;
  border-radius: 0.15em; }

input[type='checkbox'], input[type='radio'], input[type='text'], input[type='password'], input[type='email'], input[type='url'], input[type='numb: er'], input[type='search'], input[type='tel'] {
  /* All fields with text */
  border: 0;
  border-bottom: #eee 1px solid; }
  input[type='checkbox']:hover, input[type='radio']:hover, input[type='text']:hover, input[type='password']:hover, input[type='email']:hover, input[type='url']:hover, input[type='numb: er']:hover, input[type='search']:hover, input[type='tel']:hover {
    border-bottom: #d4d4d4 1px solid; }
  input[type='checkbox']:focus, input[type='radio']:focus, input[type='text']:focus, input[type='password']:focus, input[type='email']:focus, input[type='url']:focus, input[type='numb: er']:focus, input[type='search']:focus, input[type='tel']:focus {
    border-bottom: #3592dd 1px solid; }
  input[type='checkbox']:focus:invalid, input[type='radio']:focus:invalid, input[type='text']:focus:invalid, input[type='password']:focus:invalid, input[type='email']:focus:invalid, input[type='url']:focus:invalid, input[type='numb: er']:focus:invalid, input[type='search']:focus:invalid, input[type='tel']:focus:invalid {
    border-bottom: #d4d4d4 1px solid; }

textarea {
  border: #eee 1px solid;
  width: 100%; }
  textarea:hover {
    border: #d4d4d4 1px solid; }
  textarea:focus {
    border: #3592dd 1px solid; }

/* -- Labels */
label[for] {
  padding: 1em;
  cursor: pointer; }

fieldset {
  padding: 0.5em; }

/*
	-------
	GALAXY/HEADER
	_______
*/
header {
  top: 0;
  margin: 0;
  position: relative;
  color: #181818;
  background-color: #fff;
  width: 100%;
  z-index: 1;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  transition: .5s;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  vertical-align: middle;
  padding-top: .5em;
  padding-bottom: .5em;
  font-size: .9em; }
  header img {
    fill: black;
    vertical-align: middle; }
  header ul {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    transition: 0.5s cubic-bezier(0, 1, 0.5, 1) all;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
    list-style-type: none; }
    header ul li {
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-left: 1em; }
      header ul li a {
        border-radius: 0.25em;
        display: inline;
        text-decoration: none;
        padding: .75em 1em;
        color: rgba(24, 24, 24, 0.9); }
        header ul li a:hover:not([g~="active"]) {
          color: #4b4b4b; }
        header ul li a[g~="active"], header ul li a [g~="active"]:hover, header ul li a [g~="active"]:active {
          color: #4b4b4b;
          opacity: 1; }
  header[g~="fixed"] {
    position: fixed; }

footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  text-align: center;
  border-top: #fdfdfd 1px solid;
  background: #fff;
  line-height: 0;
  bottom: 0;
  border-top: #eee 1px solid;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  footer ul {
    list-style-type: none;
    padding: 0;
    padding-top: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

ul[g~="inline"] a {
  padding-left: 1em;
  padding-right: 1em; }

aside {
  line-height: 2em; }
  aside li.active {
    background: #eee; }

tab {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  tab button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  tab button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  tab button:not(:first-child):not(:last-child) {
    border-radius: 0; }

/*
	-------
	GALAXY/MISC
	_______
*/
label:not([for]) {
  padding: .6rem 1rem .6rem;
  font-size: .8rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em; }
  label:not([for]) sup {
    padding: .6rem .6rem 0 .5rem; }

table thead tr td, table tbody tr td {
  padding: .5em;
  border-bottom: 1px solid #eee;
  text-align: center; }

[g~="skrim"] {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.05)); }

menu ul {
  background: #ddd;
  border-radius: 3px; }
  menu ul li.active {
    background: #F2F2F2;
    border-radius: 3px 0 0 3px; }

[g~="circle"] {
  height: 7em;
  width: 7em;
  border-radius: 50%; }

/*
	-------
	GALAXY/BEM
	_______
*/
/* Padding */
[g~="xsm-padding"] {
  padding: 0.5em; }

[g~="sm-padding"] {
  padding: 1em; }

[g~="md-padding"] {
  padding: 1.5em; }

[g~="lg-padding"] {
  padding: 2.5em; }

[g~="xlg-padding"] {
  padding: 5em; }

[g~="xsm-padding-t"] {
  padding-top: 0.5em; }

[g~="sm-padding-t"] {
  padding-top: 1em; }

[g~="md-padding-t"] {
  padding-top: 1.5em; }

[g~="lg-padding-t"] {
  padding-top: 2.5em; }

[g~="xlg-padding-t"] {
  padding-top: 5em; }

[g~="xsm-padding-r"] {
  padding-right: 0.5em; }

[g~="sm-padding-r"] {
  padding-right: 1em; }

[g~="md-padding-r"] {
  padding-right: 1.5em; }

[g~="lg-padding-r"] {
  padding-right: 2.5em; }

[g~="xlg-padding-r"] {
  padding-right: 5em; }

[g~="xsm-padding-b"] {
  padding-bottom: 0.5em; }

[g~="sm-padding-b"] {
  padding-bottom: 1em; }

[g~="md-padding-b"] {
  padding-bottom: 1.5em; }

[g~="lg-padding-b"] {
  padding-bottom: 2.5em; }

[g~="xlg-padding-b"] {
  padding-bottom: 5em; }

[g~="xsm-padding-l"] {
  padding-left: 0.5em; }

[g~="sm-padding-l"] {
  padding-left: 1em; }

[g~="md-padding-l"] {
  padding-left: 1.5em; }

[g~="lg-padding-l"] {
  padding-left: 2.5em; }

[g~="xlg-padding-l"] {
  padding-left: 5em; }

[g~="xsm-padding-tb"] {
  padding-top: 0.5em;
  padding-bottom: 0.5em; }

[g~="sm-padding-tb"] {
  padding-top: 1em;
  padding-bottom: 1em; }

[g~="md-padding-tb"] {
  padding-top: 1.5em;
  padding-bottom: 1.5em; }

[g~="lg-padding-tb"] {
  padding-top: 2.5em;
  padding-bottom: 2.5em; }

[g~="xlg-padding-tb"] {
  padding-top: 5em;
  padding-bottom: 5em; }

[g~="xsm-padding-lr"] {
  padding-left: 0.5em;
  padding-right: 0.5em; }

[g~="sm-padding-lr"] {
  padding-left: 1em;
  padding-right: 1em; }

[g~="md-padding-lr"] {
  padding-left: 1.5em;
  padding-right: 1.5em; }

[g~="lg-padding-lr"] {
  padding-left: 2.5em;
  padding-right: 2.5em; }

[g~="xlg-padding-lr"] {
  padding-left: 5em;
  padding-right: 5em; }

/* Margins */
[g~="xsm-margin"] {
  margin: 0.5em; }

[g~="sm-margin"] {
  margin: 1em; }

[g~="md-margin"] {
  margin: 1.5em; }

[g~="lg-margin"] {
  margin: 2.5em; }

[g~="xlg-margin"] {
  margin: 5em; }

[g~="xsm-margin-t"] {
  margin-top: 0.5em; }

[g~="sm-margin-t"] {
  margin-top: 1em; }

[g~="md-margin-t"] {
  margin-top: 1.5em; }

[g~="lg-margin-t"] {
  margin-top: 2.5em; }

[g~="xlg-margin-t"] {
  margin-top: 5em; }

[g~="xsm-margin-r"] {
  margin-right: 0.5em; }

[g~="sm-margin-r"] {
  margin-right: 1em; }

[g~="md-margin-r"] {
  margin-right: 1.5em; }

[g~="lg-margin-r"] {
  margin-right: 2.5em; }

[g~="xlg-margin-r"] {
  margin-right: 5em; }

[g~="xsm-margin-b"] {
  margin-bottom: 0.5em; }

[g~="sm-margin-b"] {
  margin-bottom: 1em; }

[g~="md-margin-b"] {
  margin-bottom: 1.5em; }

[g~="lg-margin-b"] {
  margin-bottom: 2.5em; }

[g~="xlg-margin-b"] {
  margin-bottom: 5em; }

[g~="xsm-margin-l"] {
  margin-left: 0.5em; }

[g~="sm-margin-l"] {
  margin-left: 1em; }

[g~="md-margin-l"] {
  margin-left: 1.5em; }

[g~="lg-margin-l"] {
  margin-left: 2.5em; }

[g~="xlg-margin-l"] {
  margin-left: 5em; }

[g~="xsm-margin-tb"] {
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

[g~="sm-margin-tb"] {
  margin-top: 1em;
  margin-bottom: 1em; }

[g~="md-margin-tb"] {
  margin-top: 1.5em;
  margin-bottom: 1.5em; }

[g~="lg-margin-tb"] {
  margin-top: 2.5em;
  margin-bottom: 2.5em; }

[g~="xlg-margin-tb"] {
  margin-top: 5em;
  margin-bottom: 5em; }

[g~="xsm-margin-lr"] {
  margin-left: 0.5em;
  margin-right: 0.5em; }

[g~="sm-margin-lr"] {
  margin-left: 1em;
  margin-right: 1em; }

[g~="md-margin-lr"] {
  margin-left: 1.5em;
  margin-right: 1.5em; }

[g~="lg-margin-lr"] {
  margin-left: 2.5em;
  margin-right: 2.5em; }

[g~="xlg-margin-lr"] {
  margin-left: 5em;
  margin-right: 5em; }

/* Size */
[g~="center"] {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto; }

[g~="centered"] {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

[g~="left"] {
  -webkit-justify-content: start;
      -ms-flex-pack: start;
          justify-content: start; }

[g~="right"] {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

[g~="text-left"] {
  text-align: left; }

[g~="text-right"] {
  text-align: right; }

[g~="text-center"] {
  text-align: center; }

[g~="white"] {
  color: #fff; }

[g~="black"] {
  color: #000; }

/*
	-------
	GALAXY/ALERTS
	_______
*/
alert {
  display: block;
  padding: 1rem;
  border-radius: 0.25em;
  font-size: .9rem;
  margin: 1em 0;
  color: gray;
  background: white;
  border: #bfbfbf 1px solid; }
  alert[g~="primary"] {
    color: #2589da;
    background: white;
    border: #92c4ed 1px solid; }
  alert[g~="success"] {
    color: #c8d926;
    background: white;
    border: #e4ec93 1px solid; }
  alert[g~="warning"] {
    color: #b36a00;
    background: #ffe0b3;
    border: #ffad33 1px solid; }
  alert[g~="danger"] {
    color: #f21d0d;
    background: white;
    border: #f88e86 1px solid; }

.modal, .bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0; }

.modal {
  visibility: hidden;
  opacity: 0;
  transition: .2s all ease-in; }
  .modal.active {
    margin-top: 10vh;
    visibility: visible;
    -webkit-filter: none;
            filter: none;
    opacity: 1;
    z-index: 100; }
  .modal footer {
    border-top: #d4d4d4 1px solid;
    width: 100%;
    padding: 1em 0;
    background: #FFF;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
  .modal .content {
    padding: 0 2em; }
  .modal .header {
    text-align: center;
    background: #fff; }
    .modal .header > * {
      padding: 0.5em; }
    .modal .header[g~="fixed"] {
      width: 50%;
      position: fixed;
      background: #fff; }

.bg {
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: .2s all ease-in; }
  .active .bg {
    opacity: 1; }

.modal_box {
  width: 50%;
  height: auto;
  border: 0.15em solid #eee;
  border-radius: 3px;
  background: #fff;
  position: absolute;
  top: -100vh;
  left: 0;
  right: 0;
  margin: auto;
  transition: .5s all ease-in;
  overflow: scroll;
  text-align: left;
  display: none; }
  .active .modal_box {
    top: 0;
    display: block; }

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer; }

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  transition: all 0.1s linear;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none; }

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 127%;
  left: 40%;
  margin-left: -80%;
  padding: 3px;
  width: 200%;
  border-radius: 3px;
  background-color: #000;
  color: #FFF;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px; }

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 103%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid #000;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0; }

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

/*
    -------
    MAIN
    This is the SASS that overrides Galaxy.
    _______
*/
.banner {
  background-image: url(https://cf.dropboxstatic.com/static/images/business/home/dropbox-for-business-files@2x-vfloDdt74.png);
  color: #fff;
  background-color: #007ee5; }

.block {
  background: #3592dd;
  color: #fff; }

.docs {
  background: rgba(0, 0, 0, 0.9);
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 10; }
  .docs h1 {
    color: #fff; }
  .docs p {
    color: #fff; }

.thumbnail .card, .thumbnail .description {
  width: 275px;
  height: 225px;
  background-color: rgba(242, 242, 242, 0.9);
  position: relative;
  overflow: hidden;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px; }
  .thumbnail .card:hover, .thumbnail .description:hover {
    cursor: pointer; }
.thumbnail .description {
  background-color: #fff;
  text-align: left;
  height: 150px; }
.thumbnail .preview {
  height: 50%;
  width: 100%;
  padding: 1em; }
.thumbnail .harrows {
  position: absolute;
  top: 0;
  left: 0; }
  .thumbnail .harrows .arrow {
    position: absolute;
    height: .3em;
    width: 25px;
    border-left: #3592dd 0.15em solid;
    border-right: #3592dd 0.15em solid; }
    .thumbnail .harrows .arrow:nth-child(1) {
      top: 2.5em;
      left: .4em; }
      .thumbnail .harrows .arrow:nth-child(1):before {
        position: absolute;
        font-size: .5em;
        content: "20px"; }
    .thumbnail .harrows .arrow:nth-child(2) {
      top: 2.5em;
      right: -14.9em; }
      .thumbnail .harrows .arrow:nth-child(2):before {
        position: absolute;
        font-size: .5em;
        content: "20px"; }
    .thumbnail .harrows .arrow:nth-child(3) {
      top: 0;
      left: 6.24em;
      width: 56px;
      top: 2.5em; }
      .thumbnail .harrows .arrow:nth-child(3):before {
        position: absolute;
        font-size: .5em;
        content: "50px";
        left: 1.8em; }
    .thumbnail .harrows .arrow:nth-child(4) {
      top: 0;
      left: 6.24em;
      width: 55px;
      top: 2.5em; }
    .thumbnail .harrows .arrow .line {
      margin-top: .07em;
      height: .15em;
      background: #3592dd; }
.thumbnail .varrows {
  position: absolute;
  top: 0;
  left: 0; }
  .thumbnail .varrows .arrow {
    position: absolute;
    border-top: #3592dd 0.15em solid;
    border-bottom: #3592dd 0.15em solid;
    height: .3em; }
    .thumbnail .varrows .arrow .line {
      position: absolute;
      background: #3592dd;
      height: 0.1em;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
      width: 25px; }
    .thumbnail .varrows .arrow:nth-child(1) {
      top: 1em;
      left: 3.2em; }
    .thumbnail .varrows .arrow:nth-child(2) {
      top: 4.2em;
      left: 3.2em; }
    .thumbnail .varrows .arrow:nth-child(3) {
      top: 4.2em;
      left: 11.2em; }
    .thumbnail .varrows .arrow:nth-child(4) {
      top: 1em;
      left: 11.2em; }
.thumbnail .sublime {
  background: #4e606c;
  height: 55%;
  width: 100%;
  bottom: 0;
  position: absolute;
  font-size: .7em;
  color: #eee;
  padding-left: 20px;
  padding-right: 20px; }
  .thumbnail .sublime p {
    margin: 0; }
  .thumbnail .sublime indent {
    margin-left: 20px; }

button.cta {
  background: #4E5EB4;
  border-color: #4E5EB4;
  border-width: 2px; }
  button.cta:hover {
    background: #606ebc !important;
    border: rgba(0, 0, 0, 0.2) 2px solid; }
  button.cta:active {
    background: #4554a3 !important;
    border: #2BA3D4 2px solid; }

.loading {
  height: 100px; }

.example.containers {
  background: rgba(123, 137, 148, 0.06);
  height: 50px; }

.doc-nav section > div {
  border-bottom: 1px #3592dd solid; }
  .doc-nav section > div:not(:last-child) {
    padding-right: 3em; }

.grey {
  background: #f9f9f9; }

header {
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5; }

header ul li a {
  font-weight: 500; }
  header ul li a:hover:not([g~="active"]), header ul li a.active {
    color: #3592dd; }

#components, aside {
  overflow-y: auto; }
