/*
	-------
	GALAXY/FORMS
	_______
*/

input[type='checkbox'], input[type='radio'], input[type='date'], input[type='month'], input[type='time'], input[type='datetime'], input[type='datetime-local'], input[type='week'], input[type='number'], input[type='tel'], input[type='color'], select {
	/* Fields without text */
	display: inline-flex;
}

input[type='text'], input[type='password'], input[type='email'], input[type='url'], input[type='date'], input[type='month'], input[type='time'], input[type='datetime'], input[type='datetime-local'], input[type='week'], input[type='number'], input[type='search'], input[type='tel'], input[type='color'], select, textarea {
	/* All fields */
	padding: .5em;
	font-size: 1em;
	line-height: 100%;
	position: relative;
	min-height: 2.7em;
	vertical-align: middle;
	transition: border-color .3s ease;
	text-overflow: ellipsis;
	color: #333;
	background: #fff;
	border: $light-shadow 1px solid;
	box-sizing: border-box;
	border-radius: $border-radius;
}

input[type='checkbox'], input[type='radio'], input[type='text'], input[type='password'], input[type='email'], input[type='url'], input[type='numb: er'], input[type='search'], input[type='tel'] {
	/* All fields with text */
	border: 0;
	border-bottom: $light-shadow 1px solid;

	&:hover {
		border-bottom: $dark-shadow 1px solid;
	}
	&:focus {
		border-bottom: $primary-color 1px solid;
	}
	&:focus:invalid {
		border-bottom: $dark-shadow 1px solid;
	}
}

textarea {
	border: $light-shadow 1px solid;
	width: 100%;

	&:hover {
		border: $dark-shadow 1px solid;
	}

	&:focus {
		border: $primary-color 1px solid;
	}
}

/* -- Labels */
label[for] {
	padding: $md-padding;
	cursor: pointer;
}

fieldset {
	padding: $sm-padding;
}