/*
    -------
    MAIN
    This is the SASS that overrides Galaxy.
    _______
*/


$font-size: 12px;


.banner {
	  background-image: url(https://cf.dropboxstatic.com/static/images/business/home/dropbox-for-business-files@2x-vfloDdt74.png);
	  color: #fff;
	  background-color: #007ee5;
}

.block {
	background: #3592dd;
	color: #fff;
}

.docs {
	background: rgba(0, 0, 0, .9);
	height: 100vh;
	width: 100vw;
	position: fixed;
	z-index: 10;
	h1 {
		color: #fff;
	}
	p {
		color: #fff;
	}
}


.thumbnail {
	.card {
		width: 275px;
		height: 225px;
		background-color: rgba($default-color, $low-opacity);
		position: relative;
		overflow: hidden;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
		border-bottom-left-radius: 2px;

		&:hover {
			cursor: pointer;
		}
	}
	.description {
		@extend .card;
		background-color: #fff;
		text-align: left;
		height: 150px;
	}
	.preview {
		height: 50%;
		width: 100%;
		padding: 1em;
	}
	.harrows {
		position: absolute;
		top: 0;
		left: 0;
		.arrow {
		position: absolute;
		height: .3em;
		width: 25px;
		border-left: $primary-color .15em solid;
		border-right: $primary-color .15em solid;
		&:nth-child(1) {
			top: 2.5em;
			left: .4em;
			&:before {
				position: absolute;
				font-size: .5em;
				content: "20px";
			}
		}
		&:nth-child(2) {
			top: 2.5em;
			right: -14.9em;
			&:before {
				position: absolute;
				font-size: .5em;
				content: "20px";
			}
		}
		&:nth-child(3) {
			top: 0;
			left: 6.24em;
			width: 56px;
			top: 2.5em;
			&:before {
				position: absolute;
				font-size: .5em;
				content: "50px";
				left: 1.8em;
			}
		}
		&:nth-child(4) {
			top: 0;
			left: 6.24em;
			width: 55px;
			top: 2.5em;
		}

			.line {
				margin-top: .07em;
				height: .15em;
				background: $primary-color;
			}
		}
	}

	.varrows {
		position: absolute;
		top: 0;
		left: 0;
		.arrow {
			position: absolute;
			border-top: $primary-color .15em solid;
			border-bottom: $primary-color .15em solid;
			height: .3em;
			.line {
				position: absolute;
				background: $primary-color;
				height: 0.1em;
				transform: rotate(90deg);
				width: 25px;
			}
			&:nth-child(1) {
				top: 1em;
				left: 3.2em;
			}
			&:nth-child(2) {
				top: 4.2em;
				left: 3.2em;
			}
			&:nth-child(3) {
				top: 4.2em;
				left: 11.2em;
			}
			&:nth-child(4) {
				top: 1em;
				left: 11.2em;
			}
		}
	}
	
	.sublime {
		background: rgba(78, 96, 108, 1);
		height: 55%;
		width: 100%;
		bottom: 0;
		position: absolute;
		font-size: .7em;	
		color: #eee;
		padding-left: 20px;
		padding-right: 20px;
		p  {
			margin: 0;
		}
		indent {
			margin-left: 20px;
		}
	}

}


button.cta{
	background: #4E5EB4;
	border-color: #4E5EB4;
	border-width: 2px;
	&:hover {
		background: lighten(#4E5EB4, 5) !important;
		border: rgba(0, 0, 0, .2) 2px solid;
	}
	&:active {
		background: darken(#4E5EB4, 5) !important;
		border: #2BA3D4 2px solid;
	}
}

.loading {
	height: 100px;
}

.example.containers {
	background: rgba(123, 137, 148, 0.06);
	height: 50px;
}

.doc-nav {
	section > div {
		&:not(:last-child) {
			padding-right: 3em;
		}
		border-bottom: 1px $primary-color solid;
	}
}

.grey {
	background: #f9f9f9;
}

header {
	background-color: #f5f5f5;
	border-bottom: 1px solid #e5e5e5;
}

header ul li a {
	font-weight: 500;
	&:hover:not([g~="active"]), &.active {
		color: $primary-color;
	}

}

#components, aside {
	overflow-y: auto
}