/*
	-------
	GALAXY/MISC
	_______
*/

label:not([for]) {
	padding: .6rem 1rem .6rem;
	font-size: .8rem;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: $md-border-radius;
	& sup {
		padding: .6rem .6rem 0 .5rem;
	}
}


table {
    & thead tr td, tbody tr td {
    	padding: .5em;
		border-bottom: 1px solid $light-shadow;
		text-align: center;
	}
}

[g~="skrim"] { // Used to make white text legible on a busy image background.
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
}

menu {
	ul {
		background: #ddd;
		border-radius: 3px;
		li.active {
			background: #F2F2F2;
			border-radius: 3px 0 0 3px;
		}
	}
}

[g~="circle"] {
	height: 7em;
	width: 7em;
	border-radius: 50%;
}