@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/proximanova-light-webfont.eot');
    src: url('/fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('/fonts/proximanova-light-webfont.svg#ProximaNovaLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proximanova-reg-webfont.eot');
    src: url('../fonts/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/proximanova-reg-webfont.woff') format('woff'),
        url('../fonts/proximanova-reg-webfont.ttf') format('truetype'),
        url('../fonts/proximanova-reg-webfont.svg#ProximaNovaReg') format('svg');
    font-weight: 400;
    font-style: normal;
}

#search {
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	border-bottom: #eee 3px solid;
	padding: 0;

	& input, .fa {
		background: #fff;
		box-shadow: none !important;
		border: 0 !important;
		font-size: 1.5em;
		border-radius: 0;
		width: 100%;
		color: #000;
		font-weight: 300;
		margin: 0;
	}
}

#search > input::-webkit-input-placeholder {
	color: #000;
	font-weight: 300;
}

// Search
.results {
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0;
	position: relative;
	background: #fff;
}


#components {
	position: relative;
	width: 100%;
	margin: auto;
	h1 {
		color: #000;
	}
	& div.error {
		position: absolute;
	}
}


// Galaxy Grid

[g~="success"].st-activated {
    background: #8C9D1D;
    transition-duration: .2s;
    &:hover {
    	background: #8C9D1D;
    	transition-duration: .2s;
    }
}

.github-buttons li {
	display: inline-flex;
	padding: 1em;
}

// Gist embed

.gist .gist-file {
	border-radius: 0;
	transition-duration: .2s;
	margin-top: 1em;
	& table th, table td {
		border-bottom: 0
	}
}

pre.line-pre {
	font-size: 1rem;
}

.active {
	& [g~="xsm-container"] {
		max-width: 259px;
	}
}

#content p, #content h1, #content h2 {
	text-align: left;
}

#components > section > p, #components > section > h1 {
	text-align: left;
}

.example {
	width: 100%;
}

#pjax-container {
	margin-bottom: 17em;
}
h1 > a {
	color: #000
}

.example section div, .example section section {
	text-align: center;
	justify-content: center;
	color: #afafaf;
	border: #ddd 1px solid;
	transition-duration: .5s;
	padding: 1em;
	align-items: center;
}

.example section div:hover {
	color: #000;
	border: #288CC8 1px solid;
}

.example.offsets:not(.offset) > section > div {
	margin-left: 0;
}

button.demo {
	margin-bottom: 1em;
}

.site-header{
	height:13em;
}

.site-logo{
	position:relative;
	display:inline-block;
	margin-top:-8em;
	width:8em;
	height:8em;
	border-radius:50%;
	background:#fff;
	background-size:80px 80px;
	border:10px #fff solid;
	z-index:2;
}

@media screen and (max-width: 1200px) {
	aside {
		border-right: 0 !important;
	}
}

@media screen and (max-width: 767px) {
	aside {
		display: none !important;
	}
}


/* http://prismjs.com/download.html?themes=prism&languages=markup+css+css-extras+clike+javascript+scss+bash+git */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
	color: black;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: rgba(123, 137, 148, 0.06);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #a67f59;
	background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}

.token.function {
	color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
	color: #e90;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

code[class*="language-"], pre[class*="language-"] {
	display: block;
}

pre {
	border: 0;
}


// PRISMJS THEME
.token.property, .token.tag, .token.boolean, .token.number, .token.constant, .token.symbol, .token.deleted {
	color: #2f6f9f;
}

.token.selector, .token.attr-name, .token.string, .token.char, .token.builtin, .token.inserted {
	color: #4f9fcf;
}

.token.atrule, .token.attr-value, .token.keyword {
	color: #d44950;
}

